---
layout: default
title: Coding
---
<div class="coding">
	<div class="section1">
		<div class="intro">
			<h1>Contest Programming</h2>
				<p>Dmoj: <a href="https://dmoj.ca/user/Aaeria" style="color:darkviolet;">Aaeria</a> |
				Codeforces: <a href="https://codeforces.com/profile/Aaeria" style="color:orange;">Aaeria</a></p>
				<ol>
					<li><a href="#contests">Contests</a></li>
					<li><a href="#contests_set">Problemsetting</a></li>
					<li><a href="https://discord.com/invite/VEWFpgPhnz">CCC discord</a></li>
				</ol>
				
		</div>
	</div>
	<div style="height:150px;"></div>
	<div class="section2">
		<h1>Competitive programming</h1>
		
		<div x-data="{highlight:false}">
			<h2 id="contests">Contest History</h2>
			<input type="checkbox" id="showHighlight" x-on:click="highlight=!highlight">
			<label for="showHighlight">Extended list (includes unsatisfactory contests)</label>
			{% for item in site.data.contests %}
				<h3>{{item.year}}</h3>
				<ul class="contestList">
					{% for item in item.contests %}
						<li {%if item.highlight!="highlight" %}x-show="highlight" x-transition{%endif%}><img src="{{item.img}}"></img>
							<a {%if item.link%} href="{{item.link}}" {%endif%}>{{item.name}}</a> {{item.date}}
							<p>{{item.comment}}</p>
						</li>
					{% endfor %}	
				</ul>
			{% endfor %}
		</div>
		<h2>Contest Fails</h2>
		<p>This is really embarrassing...</p>
		<ul class="contestList">
			{% for item in site.data.contests_bad %}
				<li><img src="{{item.img}}"></img>
					<a href="{{item.link}}">{{item.name}}</a>
					<p>{{item.comment}}</p>
				</li>
			{% endfor %}
		</ul>
		<h2 id="contests_set">Contests</h2>
		<p>Contests I set or tested:</p>
		<ul>
			{% for item in site.data.contests_set %}
			<li><a href="{{item.link}}">{{item.name}}</a></li>
			{%endfor%}
		</ul>
		<a href="https://github.com/zzaria/cp">Test data and other contest materials</a>
		
		<p>orz <img src="https://cdn.discordapp.com/emojis/858478358157721620.gif?size=48" /></p>
		<h2>Competitive Programming Discord Server</h2>
		<p><a href="https://discord.com/invite/VEWFpgPhnz">Join the CCC</a></p>
		<br>
		<p>Thank you <span style="color:red;">bruce</span>, my teacher 2017-2020</p>
	</div>
	<div class="section3">
		<hr>
		{% include links_footer.html %}
	</div>
</div>
