@use "links_footer";
.coding {
    background-image: url(images/wp5619857-fantasy-anime-wallpapers.jpg);
    background-attachment: fixed;
    background-size: cover;



    .section1 {
        height: 100vh;
        background-image: url(images/wp5619865-fantasy-anime-wallpapers.jpg);
        background-size: cover;
        background-attachment: fixed;
        overflow: auto;
        position: relative;

        .intro {
            max-width: 30em;
            margin: 15vw auto;
            color: white;
            background-color: rgba(0, 0, 0, 0.2);
            padding: 1em;

            a {
                text-decoration: inherit;
                color: inherit;
            }
        }
    }

    .section2 {
        font-size: 16px;
        margin: auto;
        max-width: 750px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px white;

        ul.contestList {
            margin: 0px;
            list-style-type: disc;
            li {
                margin: 5px;
            }

            a{
                text-decoration: underline;
            }

            p {
                margin: 0px;
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                margin-bottom: -5px;
            }
        }
    }



    .section3 {
        @extend %links_footer_container;
        padding: 5%;
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 5%;
    }
}

@media (min-width: 768px){
    .coding .section2{
        padding: 100px 40px;
    }
}