<!DOCTYPE html>

<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<link rel="icon" href="/assets/favicon.ico" type="image/icon">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="//unpkg.com/alpinejs" defer></script>
		<link rel="stylesheet" href="/assets/styles.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		{% include navigation.html %}
		<div>{{content}}</div>
		<div class="footer">
			<p>Bird </p>
		</div>
	</body>
</html>